.Card {
    width: 5rem;
    aspect-ratio: 1/1.5;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    box-shadow: 10px 10px 0 0 solid black;
    cursor: grab;
    transition-property: background-color, color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    position: relative;
    z-index: 0;
}

.Card:hover {
    z-index: 2;
}

.Card:focus {
    transition: animation;
    animation: card-select 0.5s ease 0.2s;
    transition-timing-function: ease;
    -webkit-animation: card-select 0.5s ease 0.2s;
}

@keyframes card-select {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
    50% {
        filter: blur(50px) brightness(50%);
        -webkit-filter: blur(50px) brightness(50%);
    }
    100% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

.close {
    border: 1px solid rgb(3, 245, 132);
    background-color: rgb(45, 45, 45);
}

.close:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.open,
.match {
    border: 1px solid rgb(3, 180, 245);
    background-color: rgb(56, 56, 56);
    position: relative;
    transition: color;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.open:active .text-card,
.match:active .text-card {
    color: rgb(230, 230, 230);
}

.open:active::before,
.match:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.match {
    border: 1px groove rgb(169, 169, 169);
}

.match::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background-color: rgb(79, 79, 79, 0.5);
    border: 1px groove rgb(245, 148, 3);
    border-radius: inherit;
    animation: border-animate-1 2s forwards;
    -webkit-animation: border-animate-1 2s forwards;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

@keyframes border-animate-1 {
    0% {
        width: 0;
        height: 0;
        border-top-color: rgb(245, 148, 3);
        border-right-color: rgb(245, 148, 3);
        border-bottom-color: rgb(79, 79, 79, 0.5);
        border-left-color: rgb(245, 148, 3);
}

    50% {
        width: 100%;
        height: 0;
        border-top-color: rgb(245, 148, 3);
        border-right-color: rgb(245, 148, 3);
        border-bottom-color: rgb(79, 79, 79, 0.5);
        border-left-color: rgb(245, 148, 3);
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: rgb(245, 148, 3);
        border-right-color: rgb(245, 148, 3);
        border-bottom-color:rgb(79, 79, 79, 0.5);
        border-left-color: rgb(245, 148, 3);
    }
}

.match::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.match::after {
    border-radius: inherit;
    animation: border-animate-2 2s linear forwards;
    -webkit-animation: border-animate-2 2s linear forwards;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

@keyframes border-animate-2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: rgb(245, 148, 3);
        border-right-color: rgb(79, 79, 79, 0.5);
        border-bottom-color: rgb(245, 148, 3);
        border-left-color: rgb(245, 148, 3);
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: rgb(245, 148, 3);;
        border-right-color: rgb(79, 79, 79, 0.5);
        border-bottom-color: rgb(245, 148, 3);
        border-left-color: rgb(245, 148, 3);
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: rgb(245, 148, 3);;
        border-right-color: rgb(79, 79, 79, 0.5);
        border-bottom-color: rgb(245, 148, 3);
        border-left-color: rgb(245, 148, 3);
    }
}

.text-card {
    color: rgba(215, 215, 215);
    text-shadow: 1px 0 3px rgba(100, 100, 100, 0.5);
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.random-card {
    position: absolute;
    top: 0;
    left: 0;
    border: inherit;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg-card.jpg");
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
